h1 {
    color: #c4ceff;
}

h2 {
    font-family: sans-serif;
}


/*Nav*/
header nav a:link {
    color: black;
}

/*visited link*/
header nav a:visited {
    color: black;
}

/* Hover */
header nav a:hover {
    color: #F5B04D;
}

header {
    display: block;
    background: white;
    width: 100%;
    height: 110px;
    top: 4vw;

}

header nav {
    position: absolute;
    flex-direction: column;
    margin: 1rem 1.5rem;
    padding-top: 0.4rem;
    display: inline-block;
    justify-content: space-between;
    margin-top: 1.5rem;
}

header nav a {
    height: 10vw;
    font-family: 'oswald', sans-serif;
    padding: 0.25rem 0;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    padding: 0;
    display: block;
    text-decoration: none;
}

#menuknap {
    /*
    display: flex;
    flex: wrap;
*/
    font-size: 2.5rem;
    font-family: sans-serif;
    color: black;
}

/*nav slut*/


/*BURGER*/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    font-family: cursive;
    text-align: center;
}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*BURGER SLUT*/

/*Forside + navn*/

#splash {
    /*position: relative;*/
    width: 100%;
    height: 100vh;
    background-image: url(billeder/splash.jpg);
    background-size: cover;
    max-width: none;
}

.navn p {
    position: absolute;
    font-family: 'oswald', sans-serif;
    justify-content: center;
    color: black;
    font-size: 2rem;
    right: 5vw;
    top: 1vw;
}

.img {
    height: auto;
    width: auto;
}

/*media queries til splash*/

@media only screen and (min-width: 400px) {
    #splash {
        background-position: 50% 0%;
    }

}

@media only screen and (min-width: 401px) {
    #splash {
        background-position: 45% 0%;
    }

}

@media only screen and (min-width: 608px) {
    #splash {
        background-position: 50% 0%;
    }

}

/*Portfolio*/

.bild_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;


}

.portfolio_billede {
    background-image: url(billeder/Artboard%204.png);
    width: 60vw;
    height: 25.5vw;
    background-size: 100%;

}

/*Portfolio hover effekt med hjælp fra w3*/

img {
    width: 100%;
}

.mother {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}

.container {
    position: relative;
    width: 50%;
    flex-basis: 400px;
    flex-grow: 1;
    padding: 10px;
    margin: 0 15px;

}

.image {
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .8s ease-in-out;
}


/*

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
*/

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*
.container:hover .image {
    opacity: 0.3;
}
*/


.container:hover .image {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.container:hover .middle {
    opacity: 1;
}

.text {
    font-family: sans-serif;
    color: black;
}

.lastcontainer {
    opacity: 0;
}

.lastcontainer2 {
    opacity: 0;
}

/*OM sektion*/

.cv_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;
}

.cv_top {
    background-image: url(billeder/Artboard%201.png);
    width: 60vw;
    height: 23vw;
    background-size: 100%;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.boks1 {
    background-color: #FBE4FF;
    flex-basis: 200px;
    flex-grow: 2;
    padding: 20px;
    margin: 10px;
    border-style: solid;
}

#box p {
    font-size: 1em;
    line-height: 2;
    font-family: sans-serif;
}

#box li {
    font-size: 1em;
    line-height: 3;
    font-family: sans-serif;

}

.icons {
    display: flex;
    margin: 10px;
}

.icons img {
    width: 20px;
    height: 20px;
    margin: 2px;
    flex-grow: 0;
    margin-left: 0.5em;
}

.icons p {
    font-weight: bold;
    font-size: 1rem;
    color: black;
    margin: 0 0 0 0.6em;
    flex-grow: 1;
}

.ommig p {
    font-family: sans-serif;
    font-size: 20px;

}

.erfaring p {
    font-family: sans-serif;
    font-size: 20px;


}

/*OM SEKTION - LÆS MERE BOX FRA FRONTER*/

#box {
    background-color: rgba(224, 229, 253, 0.86);
    position: relative;
    padding: 15px 10px 20px;
    flex-basis: 300px;
    flex-grow: 3;
    margin: 10px;
    border-style: solid;
}

#box.lille {
    overflow: hidden;
    max-height: 250px;
    transition: max-height 0.5s ease-out;
}

#box.stor {
    max-height: 3000px;
    transition: max-height 1s ease-in;
}

/*Laver indhold vha css*/
#box.lille span:after {
    content: "+";
}

span:after {
    content: "-";
}


#mere .plus {
    /*    for at få den nærmere på bunden*/
    margin-top: 40px;

    /*    for at undgå at den opfører sit som et blockelement, og fylder hele bredden. */
    /*    Derved sikrer jeg at jeg kan bruge parrent text-align: center */
    display: inline-block;

    /*    selve plussets farve og størrelse samt baggrund*/
    color: black;
    font-weight: 800;
    width: 20px;
    height: 20px;
    background: white;
}


.blue_overlay {
    /* for at få gradientbaggrunden til at fylde*/
    height: 60px;
    margin: 0;

    /* for at placere gradientbaggrunden i bunden */
    position: absolute;
    bottom: 0;
    left: 0;
    /*    For at sikre at den fylder hele sin parent ud i bredden*/
    width: 100%;

    /*    selve gradienten*/
    background: linear-gradient(rgba(224, 229, 253, 0.37), rgb(224, 229, 253));

    /*    for at placere plusset i midten*/
    text-align: center;

}


/*Alle undersider*/

.liste {
    text-align: center;
    font-family: sans-serif;
    margin: 0 auto;
}

.liste a {
    color: #F5B04D;
    text-decoration: none;
}

/* Hover */
.liste a:hover {
    color: #FBE4FF;
}

.liste h1 {
    font-size: 50px;
}


#kolonne {
    display: flex;
    flex-wrap: wrap;
}

#kolonne2 {
    display: flex;
    flex-wrap: wrap;
}

#kolonne3 {
    display: flex;
    flex-wrap: wrap;
}


.col {
    background-color: #FBE4FF;
    flex-basis: 300px;
    flex-grow: 2;
    padding: 30px;
    margin: 20px;

}

.col p {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 2;
}

/*VIDEO*/

.col video {
    width: 40vw;
    margin-left: 20;
    padding: 20;
}

/*Footer design*/

footer {
    background-color: rgba(246, 201, 255, 0.83);
    color: white;
    height: 40px;
    width: 100%;
    text-align: center;
}

section,
footer {
    margin: 0 auto;
}
