html {
    background-color: white;
}

/*navigation*/

header nav a:link {
    color: black;
}

/*visited link*/
header nav a:visited {
    color: black;
}

/* Hover */
header nav a:hover {
    color: orange;
}

/*
 selected link
header nav a:active {
    color: orange;
}
*/

header {
    display: block;
    background: white;
    width: 100%;
    height: 110px;
    top: 4vw;

}

header nav {
    position: absolute;
    flex-direction: column;
    margin: 1rem 1.5rem;
    padding-top: 0.4rem;
    display: inline-block;
    justify-content: space-between;
    margin-top: 1.5rem;
}

header nav a {
    height: 10vw;
    font-family: 'oswald', sans-serif;
    padding: 0.25rem 0;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    padding: 0;
    display: block;
    text-decoration: none;
}

#menuknap {
    /*
    display: flex;
    flex: wrap;
*/
    font-size: 2.5rem;
    font-family: sans-serif;
    color: black;
}

/*navigation slut*/

/*BURGER*/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    font-family: cursive;
    text-align: center;

}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*Forside*/
#splash {
    /*position: relative;*/
    width: 100%;
    height: 100vh;
    background-image: url(billeder/splash.jpg);
    background-size: cover;
    max-width: none;
}

.navn p {
    position: absolute;
    font-family: 'oswald', sans-serif;
    justify-content: center;
    color: black;
    font-size: 2rem;
    right: 5vw;
    top: 1vw;

}

.img {
    height: auto;
    width: auto;
}

/*media queries*/

@media only screen and (min-width: 400px) {
    #splash {
        background-position: 50% 0%;
    }

}

@media only screen and (min-width: 401px) {
    #splash {
        background-position: 45% 0%;
    }

}

@media only screen and (min-width: 608px) {
    #splash {
        background-position: 50% 0%;
    }

}




/*Portfolio*/

.bild_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;


}

.portfolio_billede {
    background-image: url(billeder/Artboard%204.png);
    width: 60vw;
    height: 25.5vw;
    background-size: 100%;

}

/*Portfolio hover effekt*/

img {
    width: 100%;
}

.mother {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}

.container {
    position: relative;
    width: 50%;
    flex-basis: 400px;
    flex-grow: 1;
    padding: 10px;
    margin: 0 15px;

}

.image {
    filter: gray;
    -webkit-filter: grayscale(100%);
    -webkit-transition: all .8s ease-in-out;
}


/*

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
*/

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/*
.container:hover .image {
    opacity: 0.3;
}
*/


.container:hover .image {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

.container:hover .middle {
    opacity: 1;
}

.text {
    font-family: sans-serif;
    color: white;
}

.lastcontainer {
    opacity: 0;
}

/*OM*/

.cv_container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20vw;

}

.cv_top {
    background-image: url(billeder/Artboard%201.png);
    width: 60vw;
    height: 23vw;
    background-size: 100%;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

.boks1 {
    flex-basis: 100px;
    flex-grow: 1;
    background-color: palevioletred;
    padding: 20px;
    margin: 10px;
}

.boks2 {
    background-color: rgba(164, 173, 255, 0.81);
    flex-basis: 300px;
    flex-grow: 3;
    margin: 10px;

}

/*Footer design*/

footer {
    background-color: black;
    max-width: 100%;
    text-align: left;
    /*    margin: -60px auto 0 auto;*/
    height: 70px;
    width: 100%;
}

footer p {
    left: 2vw;
    color: grey;
}

/*STILART*/

#coverbillede {
    width: 100%;
    height: 75vh;
    background-image: url(billeder/responsive/Untitled-1.png);
    background-size: 100%;
    max-width: none;
}

@media only screen and (min-width: 400px) {
    #coverbillede {
        height: 40vw;
        width: 100%;
    }

}

.start {
    text-align: center;
    font-family: sans-serif;
}

.start li {
    list-style-type: none;
    text-align: center;
}
