html {
    background-color: #F4F4F4;
}

/*navigation*/

header nav a:link {
    color: black;
}

/* visited link */

header nav a:visited {
    color: black;
}

/* Hover */
header nav a:hover {
    color: orange;
}

/* selected link */
header nav a:active {
    color: black;
}

header {
    position: fixed;
    display: flex;
    flex: wrap;
    background: white;
    width: 100%;
    height: 8vw;
    top: 4vw;
}

header nav {
    display: flex;
    flex-direction: column;
    margin: 1rem 1.5rem;
    padding-top: 0.4rem;
    display: inline-block;
    justify-content: space-between;
    position: absolute;
    justify-content: flex-end;
    justify-content: space-between;
}

header nav a {
    font-size: 2rem;
    font-family: 'oswald', sans-serif;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
    text-decoration: none;
    align-items: flex-end;
    top: 0vw;

}

#menuknap {
    display: flex;
    flex: wrap;
    font-size: 2rem;
    top: 1vw;
}

/*navigation slut*/

/*BURGER*/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    font-family: cursive;

}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}


@media only screen and (min-width: 760px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}

/*forside*/

#splash {
    /*position: relative;*/
    width: 100%;
    height: 100vh;
    background-image: url(billeder/Artboard%201-20.jpg);
    background-size: cover;
    max-width: none;
}

#txt p {
    position: absolute;
    font-family: 'oswald', sans-serif;
    justify-content: center;
    color: orange;
    font-size: 2rem;
    left: 40vw;
}

.navn p {
    position: absolute;
    font-family: 'oswald', sans-serif;
    justify-content: center;
    color: black;
    font-size: 2rem;
    right: 5vw;
    top: 4.5vw;
}
